# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

# Challenge 1 - Passing a Lambda Expression to a Function

In the next excercise you will create a function that returns a lambda expression. Create a function called `modify_list`. The function takes two arguments, a list and a lambda expression. The function iterates through the list and applies the lambda expression to every element in the list.

Follow the steps as stated below:
    1. Define a list of any 10 numbers
    2. Define a simple lambda expression for eg that updates a number by 2
    3. Define an empty list
    4. Define the function -> use the lambda function to append the empty list
    5. Call the function with list and lambda expression
    6. print the updated list

In [1]:
# your code here
# Step-1
lis = list(range(1, 11))

# Step-2
def update(n):
  return lambda x: x+n

# Step-3
emp = []

# Step-4
def new_func(emp):
  return lambda x: emp.append(x)

# Step-5
f = new_func(emp)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Now we will define a lambda expression that will transform the elements of the list. 

In the cell below, create a lambda expression that converts Celsius to Kelvin. Recall that 0Â°C + 273.15 = 273.15K

In [2]:
# Your code here:
def temp():
  return lambda x: x+273.15

f = temp()

Finally, convert the list of temperatures below from Celsius to Kelvin.

In [4]:
temps = [12, 23, 38, -55, 24]

# Your code here:
[f(i) for i in temps]

[285.15, 296.15, 311.15, 218.14999999999998, 297.15]

#### In this part, we will define a function that returns a lambda expression

In the cell below, write a lambda expression that takes two numbers and returns 1 if one is divisible by the other and zero otherwise. Call the lambda expression `mod`.

In [7]:
# Your code here:
def mod(a,b):
  return lambda a, b: 1 if (a%b == 0) else 0

#### Now create a function that returns mod. The function only takes one argument - the first number in the `mod` lambda function. 

Note: the lambda function above took two arguments, the lambda function in the return statement only takes one argument but also uses the argument passed to the function.

In [ ]:
def divisor(a):
    """
    input: a number
    output: a function that returns 1 if the number is divisible by another number (to be passed later) and zero otherwise
    """
    # Your code here:
    f1 = mod(a)

Finally, pass the number 5 to `divisor`. Now the function will check whether a number is divisble by 5. Assign this function to `divisible5`

In [ ]:
# Your code here:
divisible5 = divisor(5)

Test your function with the following test cases:

In [ ]:
divisible5(10)

In [ ]:
divisible5(8)

# Challenge 2 - Using Lambda Expressions in List Comprehensions

In the following challenge, we will combine two lists using a lambda expression in a list comprehension. 

To do this, we will need to introduce the `zip` function. The `zip` function returns an iterator of tuples.

The way zip function works with list has been shown below:

In [ ]:
list1 = ['Green', 'cheese', 'English', 'tomato']
list2 = ['eggs', 'cheese', 'cucumber', 'tomato']
zipped = zip(list1,list2)
list(zipped)

[('Green', 'eggs'),
 ('cheese', 'cheese'),
 ('English', 'cucumber'),
 ('tomato', 'tomato')]

In this exercise we will try to compare the elements on the same index in the two lists. 
We want to zip the two lists and then use a lambda expression to compare if:
list1 element > list2 element

In [11]:
list1 = [1,2,4,4]
list2 = [2,3,3,5]
## Zip the lists together 
zipped_list = list(zip(list1, list2))

## Print the zipped list 
print(zipped_list)

## Use a lambda expression to compare if: list1 element > list2 element
[lambda i: True if i[0]>i[1] else False for i in zipped_list]

[(1, 2), (2, 3), (4, 3), (4, 5)]

[<function __main__.<listcomp>.<lambda>>,
 <function __main__.<listcomp>.<lambda>>,
 <function __main__.<listcomp>.<lambda>>,
 <function __main__.<listcomp>.<lambda>>]

Complete the parts of the code marked as "###"

# Challenge 3 - Using Lambda Expressions as Arguments

#### In this challenge, we will zip together two lists and sort by the resulting tuple.

In the cell below, take the two lists provided, zip them together and sort by the first letter of the second element of each tuple. Do this using a lambda function.

In [16]:
list1 = ['Engineering', 'Computer Science', 'Political Science', 'Mathematics']
list2 = ['Lab', 'Homework', 'Essay', 'Module']

# Your code here:
sorted(zip(list1, list2), key = lambda x: x[1][0])

[('Political Science', 'Essay'),
 ('Computer Science', 'Homework'),
 ('Engineering', 'Lab'),
 ('Mathematics', 'Module')]

# Bonus Challenge - Sort a Dictionary by Values

Given the dictionary below, sort it by values rather than by keys. Use a lambda function to specify the values as a sorting key.

In [12]:
d = {'Honda': 1997, 'Toyota': 1995, 'Audi': 2001, 'BMW': 2005}

# Your code here:
dict(sorted(d.items(), key=lambda item: item[1]))

{'Audi': 2001, 'BMW': 2005, 'Honda': 1997, 'Toyota': 1995}